@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
  --black: #000;
  --teal: #00AA83;
  --lightblack: #111111;
  --white: #fff;
  --gray: #6b7270;
  --lightgray: #ccc;
  --coalblack: #262626;
  --clr-dark: #343a40;
  --clr-light: #FAFAFA;
}

* {
  box-sizing: border-box;
}

.green-heading {
  color: var(--teal);
  font-family: 'Satisfy', cursive;
}

h2 {
  font-size: 36px;
}

.enjoy-it {
  font-size: 14px;
  letter-spacing: 3px;
}

.launch-size {
  font-size: 15px;
}

.text-green {
  color: var(--teal);
}

a:focus,
.btn:focus {
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
}

.bg-dark {
  background-color: var(--lightblack);
}

nav.navbar {
  padding: 0rem 3rem;
}

nav.navbar.header-dark {
  background: var(--black);
  border-bottom: 1px solid var(--black);

}

.navbar-brand img {
  max-width: 100%;
  width: auto;
  max-height: 90px;
  padding: 1rem;

}

.navbar .navbar-collapse:after {
  content: "";
  background: var(--white);
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: 100px;
  transform: skewX(42deg);
}

.navbar .navbar-collapse ul.navbar-nav.ml-auto {
  z-index: 10;
}

.navbar li.nav-item {
  margin: 0px 20px;
}

.navbar .nav-item a.nav-link {
  font-weight: 500;
  position: relative;
}

.navbar .nav-item>a:focus::before,
.navbar .nav-item>a:hover::before,
.navbar .nav-item>a.active::before {
  width: 30px;
  transition: .5s;
}

.navbar .nav-item>a::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 3px;
  background: var(--teal);
  bottom: 0px;
  outline: none;
}

.nav>#nav-check {
  display: none;
}

.nav-link {
  color: var(--black);
  font-size: 15px;
}

a:hover {
  color: var(--teal);
}

.navbar .btn.btn-default {
  background-color: var(--teal);
  border: 2px solid var(--teal);
  border-radius: 2px;
  color: var(--white);
  z-index: 10;
}

.tour-home {
  background-image: url("../Images/hero-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing-page-content {
  color: var(--white);
  line-height: 1;
}

.landing-page-content .change-life {
  font-size: 36.77px;
}

.landing-page-content .travel-us {
  font-size: 92px;
}

.welcome-to {
  box-shadow: 0.20px 0.20px 80px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  bottom: 50px;
}

.welcome-to .img-about-us {
  width: 100%;
  border-radius: 8px;
}

#special-laws {
  position: relative;
  bottom: 50px;
}

.welcome-to-para {
  color: var(--black);
  text-align: justify;
  opacity: 70%;
  font-size: 14px;
}

.gallery-type {
  background-color: var(--white);
  padding: 6% 0 8% 0;
}

.our-service {
  padding: 2% 0 0 0;
  text-align: center;
}

.our-service a {
  color: var(--white);
}

.our-service-para {
  margin: 0 10%;
  padding: 0 0 12px;
  cursor: pointer;
  ;
}

.card {
  transition: .4s all ease-in;
  border: none;
  margin: 25px auto;

}

.card-img-top {
  box-shadow: 0 0 25px rgba(0, 0, 0, .05);
}

.carousel-control-next-icon {
  padding: 0 4px 0 0;
}

.product_price {
  float: right;
  color: var(--gray);
  font-size: 20px;
  font-weight: 400;
}


.product-detail {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgb(0 0 0 / 75%);
  transition: all 0.35s;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.card .product-detail h5 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;

}

.card .product-detail .subheading {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.card .product-detail blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;

}

.card:hover .product-detail {
  height: calc(92%);
  padding-top: 100px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--lightgray);
  border-radius: 100% 0% 100% 0% / 19% 83% 17% 81%;
  height: 100%;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  object-position: 0;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.our-service ul {
  list-style-type: none;
  text-align: start;
  padding: 0;
}

.our-service ul li,
.our-service bdo {
  font-size: 12px;
}

.icon-container .display-icon {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.icon-container .display-icon .icon-effect {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 170px;
  box-shadow: 0 0 0 5px var(--teal);
  border-radius: 50%;
  overflow: hidden;
}

.icon-container .display-icon .icon-effect .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
}

.icon-container .display-icon .icon-effect .box span {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  line-height: 100px;
  transition: 1s;
}

.icon-container .display-icon .icon-effect .box span img {
  filter: brightness(0) saturate(100%) invert(49%) sepia(38%) saturate(6314%) hue-rotate(140deg) brightness(96%) contrast(101%);
  margin: 10px;
}

.icon-container .display-icon .icon-effect .box:nth-child(1) span {
  transform: translateY(0);
}

.icon-container .display-icon .icon-effect .box:nth-child(1) span:nth-child(1) {
  background: var(--white);
}

.icon-container .display-icon .icon-effect .box:nth-child(1) span:nth-child(2) {
  background: var(--coalblack);
}

.icon-container .display-icon:hover .icon-effect .box:nth-child(1) span {
  transform: translateY(-100%);
}

.icon-container .display-icon .icon-effect .box:nth-child(2) span {
  transform: translateY(-100%);
}

.icon-container .display-icon .icon-effect .box:nth-child(2) span {
  color: var(--coalblack);
}

.icon-container .display-icon:hover .icon-effect .box:nth-child(2) span {
  color: var(--white);
}

.icon-container .display-icon:hover .icon-effect .box:nth-child(2) span {
  transform: translateY(0);
}

.contact-us {
  padding: 1.5rem 0;
}

.contact-us .contact-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us .contact-icons img {
  width: 4.75rem;
}

.contact-us .contact-icons h3 {
  margin: 1.5rem 0 0;
  font-size: 1.65rem;
}

.contact-us .contact-icons p {
  color: #e4e0e0;
  font-size: 0.85rem;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 75%;
  width: 100%;
  position: absolute;
  border-radius: 8px;
}

.footer {
  padding: 0.5rem;
  background-color: #E9E9E9;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-cols {
  padding: 0 0 0 7rem;
}


#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}

.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}

.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial .carousel {
  padding-bottom: 50px;
}

.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}

.client-name {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--teal);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 32px;
  margin: 2rem 0 0;
}

.carousel-item h4 {
  color: #fff;
  font-size: 18px;
}

.carousel-item h3 {
  color: #fff;
  font-size: 16px;
  padding: 1rem 0 0 0;
}

.carousel-item p {
  color: #fff;
  padding: 1rem 11rem;
  font-size: 14px;
}

.our-client {
  box-shadow: 0.2px 0.2px 80px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10% 0 0;
}

.current-offer .current-offer-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0.2px 0.2px 80px 10px rgba(0, 0, 0, 0.1);
  -webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.current-offer .current-offer-img:nth-child(2) img {
  margin-top: 5rem;
}

.current-offer .current-offer-img img:hover {
  -webkit-filter: sepia(100%);
	filter: sepia(100%);
}

.current-offer .current-offer-img {
  margin-bottom: 10rem;
}

@media (min-width:1600px) {
  body .container {
    max-width: 1440px;
  }
}

@media (max-width:1440px) {
  .navbar-brand img {
    width: 200px;

  }
}

@media (max-width:1280px) {
  .landing-page-content .travel-us {
    font-size: 80px;
  }

  .landing-page-content .change-life {
    font-size: 30px;
  }
}

@media (max-width:1200px) {
  h2 {
    font-size: 28px;
  }

  .navbar li.nav-item {
    margin: 0px 10px;
  }
}

@media (max-width:992px) {
  body {
    overflow-x: hidden;
    font-size: 14px;
  }

  .navbar {
    background-color: var(--black);
  }

  .navbar .navbar-collapse:after {
    content: "";
    height: 0;
    width: 0;
  }

  .nav-link {
    color: var(--white);
    border-bottom: 2px solidvar(--white);
  }

  .navbar-toggler-icon {
    color: var(--white);
  }

  .landing-page-content .travel-us {
    font-size: 60px;
  }

  .landing-page-content .enjoy-it {
    font-size: 11px;
  }

  .choose-us {
    padding: 0 7rem;
  }

  .responsive-map {
    margin-bottom: 3rem;
  }

  .carousel-item p {
    padding: 1rem 2rem !important;
  }

  .current-offer .current-offer-img:nth-child(2) img {
    margin: 0;
  }

  .current-offer .current-offer-img {
    margin-bottom: 5rem;
  }
}

@media (max-width:768px) {
  nav.navbar {
    padding: 0rem 0rem;
  }

  .tour-home {
    margin: 0px 0px;
  }

  .client-testimonial-carousel .owl-dots button {
    height: 15px;
    position: relative;
    bottom: 30px;
    left: -120px;
    visibility: hidden;
    width: 30px;
    display: inline-block;
    margin-right: 100px;
    padding-right: 50px;
    transition: .2s;
  }
}

@media (max-width:600px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .tour-home {
    margin: 0px 0px;
  }

  .about-us-content {
    margin: 0 20px 0 0;
  }

  .gallery-type {
    background-color: var(--white);
  }

  .responsive-map {
    margin-bottom: 6rem;
  }

  .service-card {
    height: 50rem;
  }
}
.service-card {
  position: relative;
  height: 45rem;
  margin: 30px;
  background: #287BFF;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 var(--clr-light),
      inset 0 -15px 0 rgba(255, 255, 255, 0.25),
      0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.service-card img {
  width: 100%;
  height: 22rem;
  border-radius: 4px;
}
.service-card::before {
  content: '';
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.main-service-card:nth-child(1) .service-card {
  background: linear-gradient(to bottom, #FF2AE0, #645BF6);
}

.main-service-card:nth-child(2) .service-card {
  background: linear-gradient(to bottom, #FFEC61, #F321D7);
}

.main-service-card:nth-child(3) .service-card {
  background: linear-gradient(to bottom, #24FF72, #9A4EFF);
}

.icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: var(--clr-dark);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
      inset 0 -8px 0 var(--clr-light);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px var(--clr-dark);
}

.icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px var(--clr-dark);
}

.icon ion-icon {
  color: var(--clr-light);
  position: relative;
  font-size: 6rem;
  z-index: 10000;
  --ionicon-stroke-width: 24px;
}

.content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140px;
  text-align: center;
}

.content h2 {
  font-size: 1.75rem;
  color: var(--clr-light);
  margin:24px 0 10px;
}

.content p {
  color: var(--clr-light);
  line-height: 1.5rem;
}